*{
	padding: 0;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}
.header{
	width: 100%;
	height: 157px;
	background-color: #CE8D66;
	min-width: 303px;
}

nav {
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 56px;
	display: flex;	
	align-items: center;
	justify-content: center;
}

nav .logo {
	transition: 0.5s;
}
nav .logo:hover {
	background-color: #C58762;
	border-radius: 15px;
}

.nameCompany a{
	text-decoration: none;
	color: black;
	font-size: 30px;
	font-weight: 800;
	margin-left: 23px;
	vertical-align: top;
	margin-top: 3.5px;
	transition: 0.3s;
}
.nameCompany a:hover{
	color: #3B3B3B;
}

nav ul.other-pages{
	margin-left: 28px;
}

nav ul.other-pages li{
	list-style: none;
	display: inline-block;
	justify-content: space-between;
	margin-left: 58px;
}

nav ul.other-pages li a{
	text-decoration: none;
	color: black;
	font-size: 18px;
	transition: 0.5s;
}

nav ul.other-pages li::after{
	content: '';
	width: 0;
	height: 2px;
	background-color: #ECD7D9;
	margin: auto;
	display: block;
	transition: 0.3s;
}

nav ul.other-pages li:hover::after{
	width: 100%;
}

nav ul.other-pages li a:hover{
	color: #ECD7D9;
}
.accountImage {
	margin-left: 90px;
}
.accountBtn{
	margin-left: 18px;
	width: 61px;
	height: 30px;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	border-radius: 20px;
	border: none;
	font-family: 'Roboto';
	background-color: #B9D2B1;
	cursor: pointer;
	transition: 0.6s;
}
.accountBtn:hover{
	color: #fff;
}

.lang-menu{
	margin-left: 39px;
	display: flex;	
	position: relative;
}
.list-lang-icon{
	margin-left: 8px;
	width: 80%;
	cursor: pointer;
}

.lang-menu .list-lang-div {
	display: none;
	width: 120px;
	height: 30px;
	position: absolute;
	left: 0;
	margin-top: 5px;
	background: #FFFFFF;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
	border: 1px solid #f8f8f8;
}
ul.other-langs {
	list-style: none;
}
ul.other-langs li:hover{
	background-color: #f2f2f2;
}
ul.other-langs li div.main-content-lang-list{
	width: 120px;
	height: 30px;
	display: flex;
	align-items: center;
}
ul.other-langs li div.main-content-lang-list div.icon-lang-select{
	padding-top: 5px;
}
ul.other-langs li div.main-content-lang-list div.name-lang-select{
	padding-left: 5px;
}
ul.other-langs li div.main-content-lang-list div.name-lang-select a{
	text-decoration: none;
	color: black;
}

.list-icon-and-whole-list:hover .list-lang-div {
    display: block;
}

.additional-menu {
	display: none;
	position: relative;
	cursor: pointer;
	padding-left: 15px;
}
.additional-menu img{
	width: 30px;
}
.list-options-menu {
	position: absolute;
	margin-top: 0.5px;
	right: 0;
}
.list-options-menu ul.list-options{
	display: none;
	width: 110px;
	background-color: #D9C9ED;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
	border: 3px solid #fff;
	list-style: none;
}
.list-options-menu ul.list-options li{
	padding-top: 4px;
	padding-bottom: 4px;
	display: flex;
	justify-content: center;
	text-align: center;
	transition: 0.3s;
}
.list-options-menu ul.list-options li a{
	text-decoration: none;
	color: black;
}
.list-options-menu ul.list-options li:hover{
	background-color: #EBDCFE;
	border-radius: 5px;
}
.additional-menu:hover .list-options-menu ul.list-options{
	display: block;
}

@media (max-width: 1300px){
	nav ul.other-pages li:first-child{
		display: none;
	}
}

@media (max-width: 1170px){
	nav ul.other-pages {
		display: none;
	}
	.additional-menu {
		display: block;
	}
}

@media (max-width: 700px){
	.accountBtn{
		display: none;
	}
	.accountImage {
		margin-left: 30px;
	}
	.lang-menu{
		margin-left: 19px;
		display: flex;	
		position: relative;
	}
	.lang-menu .list-lang-div {
		left: auto;
		right: 0;
	}
}

@media (max-width: 550px){
	.header{
		height: 80px;
	}
	nav {
		padding-top: 28px;
	}
	nav .logo {
		width: 50px;
	}
	.nameCompany a{
		margin-left: 2px;
		font-size: 17px;
	}
	.accountImage {
		width: 40px;
		margin-left: 30px;
	}
	.lang-menu img{
		width: 15px;
	}
	.lang-menu .list-lang-div {
		width: 90px;
		height: 20px;
		margin-top: 0;
	}
	ul.other-langs li div.main-content-lang-list{
		height: 20px;
	}
	ul.other-langs li div.main-content-lang-list div.name-lang-select a{
		font-size: 12px;
	}
	.additional-menu {
		padding-left: 5px;
	}
	.additional-menu img{
		width: 20px;
	}
	.list-options-menu {
		position: absolute;
		margin-top: 0.5px;
		right: 0;
	}
	.list-options-menu ul.list-options{
		width: 80px;
	}
	.list-options-menu ul.list-options li a{
		font-size: 12px;
	}
	
}


